:root {
  /* Colors — Primary */
  --color-primary: #5b7a12;
  --color-secondary: #0000ee;
  --color-accent: #f0f5e4;

  /* Colors — Neutrals */
  --color-neutral-50: #000000;
  --color-neutral-100: #4b5363;
  --color-neutral-200: #ffffff;
  --color-neutral-300: #838996;
  --color-neutral-400: #f9fafb;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #e5e7eb;

  /* Colors — Backgrounds */
  --color-bg: #f3f4f6;
  --color-bg-1: #ffffff;
  --color-bg-2: #f9fafb;
  --color-bg-3: #5b7a12;

  /* Colors — Text */
  --color-text: #000000;
  --color-text-1: #6b7280;
  --color-text-2: #4b5363;
  --color-text-3: #0000ee;
  --color-text-4: #ffffff;

  /* Typography — Families */
  --font-sans: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-body: 'Times', sans-serif;

  /* Typography — Scale */
  --font-size-56: 56px;
  --font-size-48: 48px;
  --font-size-40: 40px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;

  /* Spacing */
  --spacing-2: 2px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-99: 99px;
  --spacing-140: 140px;
  --spacing-160: 160px;

  /* Border Radius */
  --radius-md: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;
  --radius-xl: 20px;
  --radius-full: 100px;

  /* Box Shadows */
  --shadow-sm: rgb(0, 0, 0) 0px 0px 0px 1px inset;
  --shadow-xs: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;
  --shadow-xs: rgba(0, 0, 0, 0.17) 0px 0.602187px 1.56569px -1.5px, rgba(0, 0, 0, 0.14) 0px 2.28853px 5.95019px -3px, rgba(0, 0, 0, 0.02) 0px 10px 26px -4.5px;
  --shadow-xs: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px, rgba(255, 255, 255, 0.25) 0px 1px 1px 1px inset, rgba(0, 0, 0, 0.25) 0px -1px 1px 1px inset;
  --shadow-sm: rgba(0, 0, 0, 0.12) 0px 2px 3px 0px;
  --shadow-md: rgba(0, 0, 0, 0.04) 0px 0px 12px 0px;

  /* Original Site Variables */
  /* — other — */
  --one-if-corner-shape-supported: 1;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}